target/
.idea/

# rascal-debugger-plugin (Gradle IntelliJ plugin project) build artifacts
tools/intellij/rascal-debugger-plugin/build/
tools/intellij/rascal-debugger-plugin/.gradle/
tools/intellij/rascal-debugger-plugin/.idea/
tools/intellij/rascal-debugger-plugin/.intellijPlatform/
